
#navigation
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;

} 
.navbar-nav li
{
 padding: 0 10px;
}
.navbar-nav li a
{
 float right;
 text-align left;
}
#navigation ul li a:hover 
{
	color: #007bff!important;
}
.navbar
{
	background: #fff;
}
.navbar-toggler
{
	border none!important;
}
.nav-link
{
	color: 555!important;
	font-weight: 600;
	font-size: 16px;
}
#slider
{
	width: 100%;
}
.carousel-caption
{
	top: 50%;
	transform: : translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 70px;
	font-family: Brush Script MT;
}
.carousel-item img
{
	height: 610px;
}

#about
{
	padding-top: 50px;
	padding-left: 50px;
	color: #555;
}
#about btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 20%;
}
#inscription
{
	padding-top: 50px;
	padding-left: 120px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #555;
}
#CreationJeu
{
	padding-top: 5px;
	padding-left: 120px;
	margin-top: 5px;
	margin-bottom: 30px;
	color: #555;
	width: 800px;
}
#Authentification
{
	width:300%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    width:400px;
    margin:0 auto;
	margin-top:10%;
	background-color: rgb(25, 211, 205);

}
#textabout
{
	font-size: 20px;
	color: blue;
	font-family: Georgia, serif;
}
#Affichagejeu
{
    padding-top: 70px;
	padding-left: 80px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #555;
}
#connexionbody
{
	background-color: rgb(255, 255, 255);
}
#footer
{
	padding-bottom: 10px;
}
#connectionbody
{
	background-image: url(images/wp7598250-super-mario-bros-35-wallpapers.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#imagejeu
{
	padding-top: 20px;
	padding-left: 150px;
	margin-top: 20px;
	margin-bottom: 30px;
	height: 400px;
}
#infojeu
{
	padding-top: 0px;
	padding-left: 150px;
	margin-top: 0px;
	font-family: Brush Script MT;
	font-size: 25px;		
}
#titrejeu
{
	font-size: 50px;
	color: rgb(71, 12, 235);
}
#titrecreerjeu
{
	color: rgb(71, 12, 235);
}
#fondmembre
{
	background-color: rgb(203, 240, 255);
}